.poll-option-section {
  width: 80%;
  margin: 5rem auto;
  text-align: center;
}
.notfoundmsg{
  margin: 5rem auto;
  text-align: center;
}
.voteresult-summary{
  border: 0.5px solix #737272;
  text-align: center;
  margin-top: 5rem auto;
}