.nav-container{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 1rem;
}
.nav-menu{
    display: flex;
}
.nav-menu .link{
    margin: 0 1.5rem;
    color: #737272;
}
.avatar-logout button {
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #737272;
}
.nav-menu {
  font-size: 1.2rem;
  font-weight: bold;
}
.avatar-logout{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
